# Logging
LOG_LEVEL=ERROR
LOG_FORMAT="[%(asctime)s] #%(levelname)-8s %(filename)s:%(lineno)d - %(name)s - %(message)s"


# PostgreSQL
POSTGRES_DB=postgres
POSTGRES_HOST=postgres # in dev - localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourPostgresPassword


PgAdmin
PGADMIN_DEFAULT_EMAIL=youremail@example.com
PGADMIN_DEFAULT_PASSWORD=yourPgAdminPassword
PGADMIN_PORT=5050


# Redis
REDIS_DATABASE=1
REDIS_HOST=redis # в in dev - localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=yourRedisPassword


# Auth
SECRET_KEY=d8a73246edcb745a4a80c3a4264ca06d8d334f5f4b31aeedbdcd5cae7a205812 # 256-bit Hex
ALGHORITM=HS256


# CORS
CORS_ORIGINS=["http://localhost:8000", "https://localhost:8000"]